.container {
    user-select: none;
    text-align: center;
}

form {
    margin-top: 16rem;
}

.coordinates {
    display: flex;
    width: 100%;
    place-content: center;
    gap: 10%;
    margin-bottom: 2rem;
}

.input-container h2 {
    margin: 0.5rem 0;
}

.input {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.input input[type='text'] {
    width: 12rem;
}

input[type='submit'] {
    border: #0074D9;
    background: #7FDBFF;
    color: black;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

input[type='submit']:hover {
    background: #7FDBFFCC;
}

@media screen and (width < 400px) {
    form {
        margin-top: 8rem;
    }

    .coordinates {
        flex-direction: column;
        gap: 1rem;
    }

    .input {
        padding: 0.8rem;
        justify-content: space-evenly;
    }

    .input input[type='text'] {
        width: 10rem;
    }
}
