.container {
    user-select: none;
    text-align: center;
}

h1 {
    margin: 1rem;
    margin-bottom: 0.25rem;
}

h2 {
    margin: 0;
    margin-top: 5rem;
    font-size: 2rem;
}

p {
    margin: 0;
}

form {
    margin-top: 5rem;
}

.coordinates {
    display: flex;
    width: 100%;
    place-items: center;
    place-content: center;
    gap: 10%;
    margin-bottom: 4rem;
}

.input-container h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.input-container input[type='text'] {
    width: 18rem;
    text-align: center;
}

input[type='submit'] {
    border: #0074D9;
    background: #7FDBFF;
    color: black;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

input[type='submit']:hover {
    background: #7FDBFFCC;
}

@media screen and (width < 750px) {
    h2 {
        margin-top: 4rem;
    }

    form {
        margin-top: 4rem;
    }

    .coordinates {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .input-container {
        width: 80%;
    }

    .input-container input[type='text'] {
        width: 50%;
        min-width: 15rem;
    }
}
