.container {
    user-select: none;
    text-align: center;
}

h1 {
    margin: 1rem;
    margin-bottom: 0.25rem;
}

h2 {
    margin: 0;
    margin-top: 5rem;
    font-size: 2rem;
}

p {
    margin: 0;
}

#map {
    width: 80%;
    height: 20rem;
    margin: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

form {
    display: flex;
    place-items: center;
    gap: 2rem;
}

.input-container {
    display: flex;
    place-items: center;
    gap: 1rem;
}

.input-container input[type='text'] {
    width: 18rem;
    text-align: center;
}

input[type='submit'] {
    border: #0074D9;
    background: #7FDBFF;
    color: black;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

input[type='submit']:hover {
    background: #7FDBFFCC;
}

@media screen and (width < 750px) {

}
